:root {
	/* ------- colors ------- */
	--primary-color: #1a1a1d;
	--secondary-color: #59595d;
	--tertiary-color: #9a9aa1;
	--quaternary-color: #dcdce0;
	--link-color: #0f9d8c;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
